.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.subtitle-list{
  width: 26rem;
  margin-right: 0.4rem;
  overflow: auto;
}

.subtitle-list .items{
  overflow: auto;
  height: 92%;
}

.subtitle-list .container-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  background-color: #343a4014;
}

.subtitle-row, .subtitle-form{
  width: 100%;
}

.subtitle-row{
  cursor: pointer;
}

.subtitle-form .card-body .container-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle-form .card-body .form-row .col{
  margin-bottom: 0.4rem;
}

.video-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-area .slider{
  width: 100%;
  margin-top: 0.5rem;
}

.video-area .player{
  position: relative;
}

.video-area .player .subtitle-overlay{
  position: absolute;
  z-index: 2;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
  background-color: #00000094;
  border-radius: 4px;
  color: white;
  padding: 4px;
}

.video-area .player .subtitle-overlay p{
  margin: 0;
  text-align: center;
  white-space: pre-wrap;
}

.noUi-tooltip {
  display: none;
  padding: 2px !important;
  font-size: 10px;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-horizontal .noUi-handle{
  width: 8px !important;
  height: 28px !important;
  right: -6px !important;
  top: -6px !important;
}

.noUi-handle:before{
  left: 1px !important;
}

.noUi-handle:after{
  left: 4px !important;
}

.noUi-handle-lower .noUi-tooltip{
  left: 0% !important;
  transform: translate(-80%, 0) !important;
}

.noUi-handle-upper .noUi-tooltip{
  left: 100% !important;
  transform: translate(-30%, 0) !important;
  bottom: 0 !important;
  transform: translate(-20%, 120%) !important;
}

.form-group input, .form-group input:focus, .form-group textarea, .form-group textarea:focus{
  background-color: #ffffff1f;
  color: white;
}