.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.subtitle-list{
  width: 26rem;
  overflow: auto;
  margin-right: 0.4rem;
}

.subtitle-row, .subtitle-form{
  width: 100%;
}

.subtitle-form .card-body .container-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-area .slider{
  width: 100%;
  margin-top: 0.5rem;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}